<div class="row">
    <div class="col-12">
      <div
        class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
        id="layout-navbar"
      >
        <h3 class="m-0">Admins</h3>
      </div>
    </div>
  </div>
  
  <div class="row mt-4">
    <div class="card">
      <div class="table-responsive text-nowrap">
        <table class="table table-hover text-center">
          <thead>
            <tr>
              <th>Name</th>
              <th>Surname</th>
              <th>Username</th>
              <th>Take Permission</th>
              <th>Give Permission</th>
              <th>Delete</th>
            </tr>
          </thead>
         
          <tbody class="table-border-bottom-0">
            <% if (result[0]) { %> 
                 <% for( let index = 0; index < result.length; index++ ) { %>
            <tr>
              <td>
                <span class="fw-medium"><%- result[index].name %></span>
              </td>
              <td>
                <span class="fw-medium"><%- result[index].surname %></span>
              </td>
              <td>
                <span class="fw-medium"><%- result[index].username %></span>
              </td>
           <% if (result[index].isAdmin == false) { %>
            <td>
                <a
                  href="/admin/take-permission/<%- result[index].id %>"
                  class="btn btn-secondary disabled"
                  >Take Permission</a
               >
              </td>
          <% } else { %> 
            <td>
                <a
                  href="/admin/take-permission/<%- result[index].id %>"
                  class="btn btn-secondary"
                  >Take Permission</a
                >
              </td><% } %>
            
             <% if (result[index].isAdmin == true) { %>
                <td>
                    <a
                      href="/admin/give-permission/<%- result[index].id %>"
                      class="btn btn-success disabled"
                      >Give Permission</a
                    >
                  </td>
                  <% } else { %>
                    <td>
                        <a
                          href="/admin/give-permission/<%- result[index].id %>"
                          class="btn btn-success"
                          >Give Permission</a
                        >
                      </td>
             <% } %>
             <td>
              <a
                href="/admin/delete-user/<%- result[index].id %>"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
            </tr>
            <% } %>    <% } else { %>
               
                <tr>
                    <td colspan="5">
                      <h3 class="fw-medium mb-0" >There is no claim</h3>
                    </td>
                </tr>
                <% } %>
            
          </tbody>
        
        </table>
      </div>
    </div>
  

  </div>
  