<div class="row">
  <div class="col-12">
    <div class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached   bg-navbar-theme" id="layout-navbar">
      <h3 class="m-0">Contact Page</h3>

    </div>
  </div>
</div>



<div class="row">
  <div class="col-12">
    <div class="card">

      <div class="card-body">
        <main role="main" class="container bootdey.com">


          <div class="my-3 p-3 bg-white rounded box-shadow">
            <h5 class="border-bottom border-gray pb-2 mb-0">Messages</h5>
            <% for( let index = 0; index < result.length; index++ ) { %>
            <div class="media text-muted pt-3 d-flex flex-row align-items-center justify-content-between">
              <div class="d-flex flex-row align-items-center">


                <img src="/uploads/images/defaultUser.png" alt="" class="mr-2 rounded " width="50" height="50">
                <div class="d-flex flex-column align-items-start justify-content-center">
                  <div class="d-flex flex-row ">
                    <p class="d-block text-dark px-3 mb-1 small"><%- result[index].name %></p>
                    <p class="d-block text-dark mb-1 small">-</p>
                    <p class="d-block text-dark mb-1 px-3 small"><%- result[index].email %></p>
                    <p class="d-block text-dark mb-1 small">-</p>
                    <p class="d-block text-dark mb-1 px-3 small"><%- result[index].phone %></p>
  
                  </div>
                  <strong class="d-block text-dark px-3"><%- result[index].subject %></strong>
                  <p class="media-body pb-3 px-3 mb-0 small lh-125 ">
                    <%- result[index].message %>
                  </p>
                </div>
              </div>

              <a href="/admin/delete-contact/<%- result[index].id %>" class="btn btn-danger">Sil</a>
            </div>
            <div class="border-top my-3"></div>
            <% } %>


          </div>
        </main>

      </div>




    </div>
  </div>
</div>